sms_name=sms
sms_ip=192.168.2.100
sms_eth_internal=enp2s0
eth_provision=enp2s0
internal_netmask=255.255.255.0
ntp_server=time.nist.gov
bmc_username=NOTSET
bmc_password=NOTSET
num_computes=2
c_ip=(192.168.2.101 192.168.2.102)
c_bmc=NOTSET
c_mac=(52:54:00:d6:63:d9 52:54:00:09:5e:88)
c_name=(c1 c2)
compute_regex=c*
compute_prefix=c

CHROOT=/opt/ohpc/admin/images/rocky9.6
nhc_healtcheck_interval=30
real_memory=8000
sockets=1
cores_per_socket=2
threads_per_core=1