#comentario=asd
sms_name=sms
sms_ip=192.168.2.100
sms_eth_internal=eno1
eth_provision=eno1
internal_netmask=255.255.255.0
ntp_server=time.nist.gov
bmc_username=NOTSET
bmc_password=NOTSET
num_computes=2
c_ip=(192.168.2.101 192.168.2.102)
c_bmc=NOTSET
c_mac=(9c:b6:54:0a:5d:ce 9c:b6:54:0a:5e:aa)
c_name=(c1 c2)
compute_regex=c*
compute_prefix=c

CHROOT=/opt/ohpc/admin/images/rocky9.6
nhc_healtcheck_interval=30
real_memory=80000
sockets=2
cores_per_socket=8
threads_per_core=1